body {
  font-family: print_clearlyregular;
  font-weight: bold;
}
  
.wide_div {
  width: 75%;
  margin: 3% auto;
  background: rgb(215, 233, 54);
  background: rgba(215, 235, 54, 0.5);
  box-shadow: 1em 1em 1em #000000;
  -webkit-box-shadow: 1em 1em 1em #000000;
  -moz-box-shadow: 1em 1em 1em #000000;
}

.quiz {
  font-weight: bold;
  display: block;
  width: 90%;
  margin: auto;
  padding: 1em;
}

img {
  display: block;
  width: 4.5em;
  height: 4.5em;
  margin: auto;
}

h1 {
  font-size: 5em;
  text-shadow: .05em .05em #999999;
  text-align: center;
  font-family: roman_sdregular;
}

h4 {
  font-size: 2em;
  text-decoration: underline;
  text-align: center;
  margin: 1em;
  text-shadow: .05em .05em #999999;
  font-family: roman_sdregular;
}

p {
  margin-bottom: 0.2em;
}

button {
  font-family: print_clearlyregular;
  font-weight: bold;
  background: rgb(103, 146, 163);
  background: rgba(203, 146, 163, 0.5);
  box-shadow: 0.2em 0.2em 0.2em #000000;
  width: 8em;
  margin: 0.2em;
}

button:hover {
  cursor: pointer;
}

.actbtn {
  display: block;
  width: 75%;
  margin: 2em auto;
}

.answer {
  visibility: hidden;
}

@font-face {
  font-family: 'roman_sdregular';
  src: url('./fonts/roman_sd-webfont.woff2') format('woff2'),
        url('./fonts/roman_sd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'print_clearlyregular';
  src: url('./fonts/print_clearly-webfont.woff2') format('woff2'),
        url('./fonts/print_clearly-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}